name: Continuous Deployment

on:
  push:
    branches: [main]

jobs:
  flatpak:
    name: Flatpak
    runs-on: ${{ matrix.arch == 'aarch64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    container:
      image: ghcr.io/andyholmes/flatter/gnome:49
      options: --privileged
    permissions:
      contents: read

    strategy:
      max-parallel: 1
      matrix:
        arch: [x86_64, aarch64]
      fail-fast: false

    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          submodules: true

      - name: Setup QEMU
        if: ${{ matrix.arch == 'aarch64' }}
        id: qemu
        uses: docker/setup-qemu-action@v2
        with:
          platforms: arm64

      - name: Setup GPG
        id: gpg
        uses: crazy-max/ghaction-import-gpg@v5
        with:
          gpg_private_key: ${{ secrets.GPG_PRIVATE_KEY }}

      - name: Setup Flatpak
        run: |
          flatpak remote-add --if-not-exists \
                  valent https://valent.andyholmes.ca/valent.flatpakrepo

      - name: Build
        uses: andyholmes/flatter@main
        with:
          files: |
            ca.andyholmes.Valent.Plugin.example.json
          arch: ${{ matrix.arch }}
          gpg-sign: ${{ steps.gpg.outputs.fingerprint }}
          flatpak-builder-args: |
            --install-deps-from=valent
          flatpak-build-bundle-args: |
            --runtime
          upload-bundles: true
          upload-pages-artifact: ${{ matrix.arch == 'aarch64' }}

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: flatpak
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    steps:
      - name: GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v1
